@import 'normalize.css';

:root{
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button,input,[tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}