.wrapper {
    --search-border-radius: 92px;
    --search-height:46px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    display: flex;
    align-items: center;
    width: var(--default-layout-width);
    justify-content: space-between;
}
.logo {
    
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    display: flex;
    background-color: rgb(22, 24, 25,0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;
    input{
        flex    : 1;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        height: 100%;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown)~.search-btn{
        color: rgb(22, 24, 35, 0.75);
    }
    &::after{
        content: "";
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgb(22, 24, 35, 0.12);
    }
    &:focus-within{
        border: 1.5px solid rgb(22, 24, 35, 0.2);
    }
}

.clear,
.loaing {
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(22, 24, 35, 0.34);
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color:rgb(22, 24, 35, 0.34) ;
    &:hover{
        background-color: rgb(22, 24, 35, 0.03);
    }
    &:active{
        background-color: rgb(22, 24, 35, 0.06);
    }
}
